@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500;600&family=Lato:wght@300&family=Raleway:ital,wght@0,100;1,600&family=Tilt+Prism&display=swap');
*{

    padding: 0;
    margin: 0;
}
nav{
    display: flex;
}
.logo
{
    display: flex;
    align-items: center;
   
}
.logo img{
   width: 100px;
   padding: 0 25px;
}
header{
    
    background:rgb(78, 78, 237); 
    font-family: 'Edu NSW ACT Foundation', cursive;
    
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
    font-size: 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover
{
   font-weight: bold;
}

footer{
    height: 6vh;
    background-color: rgb(78, 78, 237);
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 493px;
    height: 23px;
    border-radius: 5px;
    margin: 0 16px 0 50px;
    padding: 0 12px;
}
.search button{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 900;
}

.container
{
    min-height: calc(100vh - 58px - 12vh);
    
}
.slider
{
    margin:12px auto;
    width: 80vw;
    
}
.card
{
    margin: auto;
    max-width: 80vw;
    font-family: 'Edu NSW ACT Foundation', cursive;
    
}
.carditeam{
    width: 9vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 39px;
}
